body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(120deg, #FFDEE9, #B5FFFC);
}

/* Top Container */
.top-container {
    display: flex;
    width: 75%;
    justify-content: flex-start;
    padding: 20px;
}

/* Countdown Container */
.countdown-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

h3 {
    font-size: 2em;
    color: #333;
}

#countdown div {
    display: inline-block;
    margin: 10px;
    font-size: 1.5em;
    color: #555;
}

#countdown span {
    font-weight: bold;
    color: #FF5722;
    font-size: 2em;
}

/* Bottom Container */
.bottom-container {
    display: flex;
    width: 75%;
    margin-top: 20px;
    justify-content: space-between;
}

/* Zmanim Container */
.zmanim-container {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.zman-item {
    font-size: 1.0em;
    margin: 5px 0;
    color: #4A4A4A;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Weather Container */
.weather-container {
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Clocks Container */
.clocks-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.clock-box {
    text-align: center;
}
